<% if @people.errors.any? %>
	<h2> The following errors prevented your person from saving: </h2>
<ul>
	<% @people.errors.full_messages.each do |msg| %>
		<li> <%= msg %> </li>
	<% end %>
</ul>
<% end %>

<li> <%= "Current time: #{Time.now.strftime "%I:%M %P (%m/%d)"}" %> </li>

<h1> Add a new customer: </h1>
<%= render partial: 'form' %>